{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Stats Yo!</title>
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper blue darken-4">
                <ul>
                    <li>
                        <a href="{% url 'home' %}" class="left brand-logo">
                            <img src="{% static 'images/statsyoLOGO.png' %}" alt="Stats Yo!" width="66" height="66">
                        </a>
                    </li>
                </ul>
                <ul class="right">
                    <li>
                        <a href="{% url 'teams' %}">All Teams</a>
                    </li>
                   
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer red">
        <div class="center text-white">All Rights Reserved &copy; 2021 Stats Yo!</div>
    </footer>
</body>
</html>