{% extends 'base.html' %}

{% block content%}
<h4>Player Information Page for {{ name }}</h4>
<hr>
<!-- SANDBOX FOR API ONLY -->

<p>Team: {{ team }}</p>
<p>Position: {{ position }}</p>

<h2>Roster Test</h2>
{% for player in players %}
<p>{{ player.name_display_first_last }}</p>
<p>{{ player.position_txt }}</p>
{% endfor %}

<h2>Teams Test</h2>
{% for team in teams %}
<p>{{ team.name_display_full }}</p>
<p>{{ team.mlb_org_id }}</p>
<p>{{ team.league_full }}</p>
<p>{{ team.base_url }}</p>
<p>{{ team.venue_name }}</p>
{% endfor %}

{% endblock %}