body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
    color: #0D47A1;
  }

  nav ul a {
    font-size: 10px !important;
  }

  main {
    flex: 1 0 auto;
    }

  .logo {
    height: 50px;
    width: 50px;
  }

  #navigation {
    font-size: 5px !important;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

  h2 {
    display: flex;
  }

  #team-logo-index {
    height: 150px;
    width: 150px;
  }

  #team-logo-index:hover {
    transform: scaleX(-1);
  }

  .bg {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }


  #header-logo {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #pitcher-card {
    height: 35px;
    padding-left: 5px;
    padding-top: 5px;
  }

  #hitter-card {
    height: 35px;
    padding-left: 5px;
    padding-top: 5px;
  }

  #person_add {
    padding-right: 20px;
    padding-bottom: 5px;
  }


  #batter-stats {
    grid-template-columns: auto;
    grid-template-rows: auto;
    column-gap: auto;
    row-gap: auto;

  }




