body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
    color: #0D47A1;
  }
  
  nav ul a {
    font-size: 0.8rem !important;
  }
  main {
    flex: 1 0 auto;
    
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

  h2 {
    display: flex;

  }

  .logo {
    height: 50px;
    width: 50px;
  }

  .mainlogo {
    display: block;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  .bg {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
