{% extends 'base.html' %}
{% load static %}

{% block content %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
      var yearElems = document.querySelectorAll('.dropdown-trigger');
      var yearInstance = M.Dropdown.init(yearElems);
    });
</script>

<!-- Year Dropdown Trigger -->
<a class='dropdown-trigger btn red' href='#' data-target='yearDropdown'>Stats Year</a>

<!-- Year Dropdown Structure -->
<ul id='yearDropdown' class='dropdown-content'>
    <li><a href='{% url "battingLeaders" "2020" %}'>2020</a></li>
    <li><a href='{% url "battingLeaders" "2019" %}'>2019</a></li>
    <li><a href='{% url "battingLeaders" "2018" %}'>2018</a></li>
    <li><a href='{% url "battingLeaders" "2017" %}'>2017</a></li>
    <li><a href='{% url "battingLeaders" "2016" %}'>2016</a></li> 
</ul>


<h4>Batting Leaders for {{ year }}</h4>
<div class="row">
    <div class="col s5">
        <div class="card">
            <div class="card-content">
                <h5>Home Runs</h5>
                <table>
                    <tr>
                        <th>HR</th>
                        <th>Player</th>
                        <th>Team</th>
                    </tr>
    
                    {% for leader in hrLeaders.queryResults.row %}
    
                    <tr>
                        <td>{{ leader.hr }}</td>
                        <td>
                            <a href='{% url "playerStats" leader.player_id %}'>
                                <p>{{ leader.name_display_first_last }}</p>
                            </a>
                        </td>

                        <td><img alt="{{ leader.team_abbrev }}" class="logo" src="{% get_static_prefix %}/images/{{ leader.team_abbrev }}.png"></td>
                    </tr>
    
                    {% endfor %}
                </table>
            </div> 
        </div> 
    </div> 



    <div class="col s5">
        <div class="card">
            <div class="card-content">
                <h5>RBI</h5>
                <table>
                    <tr>
                        <th>RBI</th>
                        <th>Player</th>
                        <th>Team</th>
                    </tr>
    
                    {% for leader in rbiLeaders.queryResults.row %}
    
                    <tr>
                        <td>{{ leader.rbi }}</td>
                        <td>
                            <a href='{% url "playerStats" leader.player_id %}'>
                                <p>{{ leader.name_display_first_last }}</p>
                            </a>
                        </td>
                        <td><img alt="{{ leader.team_abbrev }}" class="logo" src="{% get_static_prefix %}/images/{{ leader.team_abbrev }}.png"></td>
                    </tr>
    
                    {% endfor %}
                </table>
            </div> 
        </div> 
    </div>
    
    <div class="col s5">
        <div class="card">
            <div class="card-content">
                <h5>Hits</h5>
                <table>
                    <tr>
                        <th>Hits</th>
                        <th>Player</th>
                        <th>Team</th>
                    </tr>
    
                    {% for leader in hitsLeaders.queryResults.row %}
    
                    <tr>
                        <td>{{ leader.h }}</td>
                        <td>
                            <a href='{% url "playerStats" leader.player_id %}'>
                                <p>{{ leader.name_display_first_last }}</p>
                            </a>
                        </td>

                        <td><img alt="{{ leader.team_abbrev }}" class="logo" src="{% get_static_prefix %}/images/{{ leader.team_abbrev }}.png"></td>
                    </tr>
    
                    {% endfor %}
                </table>
            </div> 
        </div> 
    </div>

    <div class="col s5">
        <div class="card">
            <div class="card-content">
                <h5>Batting Average</h5>
                <table>
                    <tr>
                        <th>Avg</th>
                        <th>Player</th>
                        <th>Team</th>
                    </tr>
    
                    {% for leader in avgLeaders.queryResults.row %}
    
                    <tr>
                        <td>{{ leader.avg }}</td>
                        <td>
                            <a href='{% url "playerStats" leader.player_id %}'>
                                <p>{{ leader.name_display_first_last }}</p>
                            </a>
                        </td>

                        <td><img alt="{{ leader.team_abbrev }}" class="logo" src="{% get_static_prefix %}/images/{{ leader.team_abbrev }}.png"></td>
                    </tr>
    
                    {% endfor %}
                </table>
            </div> 
        </div> 
    </div>

    <div class="col s5">
        <div class="card">
            <div class="card-content">
                <h5>Stolen Bases</h5>
                <table>
                    <tr>
                        <th>SB</th>
                        <th>Player</th>
                        <th>Team</th>
                    </tr>
    
                    {% for leader in sbLeaders.queryResults.row %}
    
                    <tr>
                        <td>{{ leader.sb }}</td>
                        <td>
                            <a href='{% url "playerStats" leader.player_id %}'>
                                <p>{{ leader.name_display_first_last }}</p>
                            </a>
                        </td>

                        <td><img alt="{{ leader.team_abbrev }}" class="logo" src="{% get_static_prefix %}/images/{{ leader.team_abbrev }}.png"></td>
                    </tr>
    
                    {% endfor %}
                </table>
            </div> 
        </div> 
    </div>
</div>        
{% endblock %}