{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ONLY LOGGED IN USERS CAN ACCESS THIS PAGE -->
<!-- SHOW PLAYER STATS -->

<!-- ADD PLAYER TO FAVORITES LIST -->
<!-- STRETCH GOAL: HEART ICON TO ADD/REMOVE PLAYER FROM LIST-->
    <!-- COULD BE THAT CLICKING ON ICON REFRESHES PAGE TO ADD/REMOVE FROM LIST -->
<br>
<h4>Player Stats for {{ playerDetails.name_display_first_last }}</h4>
{% if stats.team_abbrev %}
<br>
<br>
<br>
<div class="table-responsive">
    <table class="striped">
        <thead>
            <tr>
                <th>Team</th>
                <th>Games</th>
                <th>At Bats</th>
                <th>Runs</th>
                <th>Hits</th>
                <th>XBH</th>
                <th>HR</th>
                <th>RBI</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                        <li><img alt="{{ stats.team_abbrev }}" class="logo" src="{% get_static_prefix %}/images/{{ stats.team_abbrev }}.png"></li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>{{ stats.g }}</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>{{ stats.ab }}</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>{{ stats.r }}</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>{{ stats.h }}</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>{{ stats.xbh }}</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>{{ stats.hr }}</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>{{ stats.rbi }}</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <table class="striped">
        <thead>
            <tr>
                <th>BB</th>
                <th>SO</th>
                <th>SB</th>
                <th>CS</th>
                <th>AVG</th>
                <th>OBP</th>
                <th>SLG</th>
                <th>OPS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                        <li>{{ stats.bb }}</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>{{ stats.so }}</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>{{ stats.sb }}</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>{{ stats.cs }}</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>{{ stats.avg }}</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>{{ stats.obp }}</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>{{ stats.slg }}</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>{{ stats.ops }}</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
{% else %}
<h4>No Data for Rookie</h4>

{% endif %}

</div>

{% endblock %}