{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ONLY LOGGED IN USERS CAN ACCESS THIS PAGE -->
<!-- SHOW PLAYER STATS -->

<!-- ADD PLAYER TO FAVORITES LIST -->
<!-- STRETCH GOAL: HEART ICON TO ADD/REMOVE PLAYER FROM LIST-->
    <!-- COULD BE THAT CLICKING ON ICON REFRESHES PAGE TO ADD/REMOVE FROM LIST -->

<h2>Player Stats for {{ playerDetails.name_display_first_last }}</h2>
{% if stats.team_abbrev %}
<table>
    <tr>
        <th>Team</th>
        <th>Games</th>
        <th>At Bats</th>
        <th>Runs</th>
        <th>Hits</th>
        <th>XBH</th>
        <th>HR</th>
        <th>RBI</th>
    </tr>
    <tr>
        <td><img alt="{{ stats.team_abbrev }}" class="logo" src="{% get_static_prefix %}/images/{{ stats.team_abbrev }}.png"></td>
        <td>{{ stats.g }}</td>
        <td>{{ stats.ab }}</td>
        <td>{{ stats.r }}</td>
        <td>{{ stats.h }}</td>
        <td>{{ stats.xbh }}</td>
        <td>{{ stats.hr }}</td>
        <td>{{ stats.rbi }}</td>
    </tr>
</table>

<table>
        
    <tr>
        <th>BB</th>
        <th>SO</th>
        <th>SB</th>
        <th>CS</th>
        <th>AVG</th>
        <th>OBP</th>
        <th>SLG</th>
        <th>OPS</th>
    </tr>
    <tr>
        <td>{{ stats.bb }}</td>
        <td>{{ stats.so }}</td>
        <td>{{ stats.sb }}</td>
        <td>{{ stats.cs }}</td>
        <td>{{ stats.avg }}</td>
        <td>{{ stats.obp }}</td>
        <td>{{ stats.slg }}</td>
        <td>{{ stats.ops }}</td>
    </tr>

</table>
{% else %}
<h4>No Data for Rookie</h4>

{% endif %}

{% endblock %}