{% extends 'base.html' %}

{% block content %}

<!-- SHOW 40 MAN ROSTER WITH API STATS DATA -->
<!-- DOESN'T HAVE TO BE LOGGED IN TO VIEW THIS PAGE -->

<!-- IF LOGGED IN USER CAN ADD PLAYER TO FAVORITES LIST -->
    <!-- IF LOGGED IN USER CAN CLICK ON PLAYER AND GO TO PLAYERS PAGE -->
    <!-- IF NOT LOGGED IN REDIRECT LOGIN PAGE -->
<h2>40-Man Roster for the {{ team }} </h2>

<h4>Pitchers</h4>
{% for player in players %}
    {% if player.position_txt == "P" %}
            <p>{{ player.name_display_first_last }}</p>
    {% endif %}
    {% endfor %}

{% else %}
    <h4>Batters</h4>
    {% for player in players %}
    <a href='{% url "playerStats" player.player_id %}'>
        <p>{{ player.name_display_first_last }}</p>
    </a>
        <p>{{ player.position_txt }}</p>
    {% endfor %}


{% endblock %}