{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- SHOW 40 MAN ROSTER WITH API STATS DATA -->
<!-- DOESN'T HAVE TO BE LOGGED IN TO VIEW THIS PAGE -->

<!-- IF LOGGED IN USER CAN ADD PLAYER TO FAVORITES LIST -->
    <!-- IF LOGGED IN USER CAN CLICK ON PLAYER AND GO TO PLAYERS PAGE -->
    <!-- IF NOT LOGGED IN REDIRECT LOGIN PAGE -->
<h4 class="center"><img alt="{{ team_logo }}" class="logo" src="{% get_static_prefix %}/images/{{ team_logo }}.png"> 40-Man Roster</h4>

<div class="row">
    <!-- PITCHERS -->
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Pitchers</span>
                {% for player in players %}
                {% if player.position_txt == "P" %}
                <div class="card" id="pitcher-card">
                    <a href='{% url "pitcherStats" player.player_id %}'>
                        {{ player.name_display_first_last }}
                    </a>
                    {% if not user.is_anonymous and user.fav_list_set.count %}
                    <span class="right">
                        {% if not player.player_id in fav_players %}
                        
                        <a href="{% url 'add_player' user.fav_list_set.first.id player.player_id  %}">
                            <i class="small material-icons" id="person_add">person_add</i>
                        </a>
                        {% endif %}
                    </span>
                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- HITTERS -->
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Hitters</span>
                {% for player in players %}
                    {% if not player.position_txt == "P" %}
                    <div class="card" id="hitter-card">
                        <a href='{% url "playerStats" player.player_id %}'>
                            {{ player.name_display_first_last }}
                            {{ player.position_txt }}
                        </a>
                        {% if not user.is_anonymous and user.fav_list_set.count %}
                            <span class="right">
                                    {% if not player.player_id in fav_players %}
                                    <a href="{% url 'add_player' user.fav_list_set.first.id player.player_id  %}">
                                        <i class="small material-icons" id="person_add">person_add</i>
                                    </a>
                                    {% endif %}
                            </span>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}